* {
  font-family: 'eraserregular';
 }

body {
  background: url(chalkboard.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color:#FFCC11;
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 25px;
}

.message {
  height: 50px;
  width: 600px;
  background-image: url();
  font-size: 25px;
  text-align: center;
  margin: auto;
  color:white;
}

.scoreboard {
 height: 100px;
 width: 400px;
 margin: auto;
}

.scoreboard > * {
  padding:15px;
  float:left;
  color:white;
  align: center;
  float: left;
  font-family: 'eraserregular';
}

.ajax {
  max-height: 400px;
  max-width: 250px;
  min-height: 18%;
  min-width: 10%;
  color: #FFCC11;
  float:left;
}

.gameboard {
  width: 350px;
  height: 350px;
  min-height: 15%;
  min-width: 15%;
  margin-bottom: 10px;
  min-width: 20px;
  min-height: 20px;
  float: left;
}

.gameboard > * {
float: left;
height: 100px;
width: 100px;
min-height: 5%;
min-width: 5%;
background-color: green;
/*background-color: #FFFFE0;*/
margin-top: 10px;
margin-bottom: 5px;
margin-right: 5px;
margin-left: 10px;
float: left;
text-align: center;
color: white;
font-size: 550%;
font-family: arial;
background-color:#64655f;
font-family: 'eraserregular';
}

.startbutton {
  height: 30px
}

@font-face {
    font-family: 'eraserregular';
    src: url('Fonts/Chalk/eraserregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}rmal;

}
